In [2]:
import xgboost as xgb
import numpy as np, pandas as pd
from sklearn.metrics import roc_auc_score

In [3]:
df = pd.read_csv("/home/ubuntu/joel/Test.csv", header=None)

In [4]:
df

,0,1,2,3,4,5,6,7,8,9
0,1.0,0.907542,0.329147,0.359412,1.497970,-0.313010,1.095531,-0.557525,-1.588230,2.173076
1,1.0,0.798835,1.470639,-1.635975,0.453773,0.425629,1.104875,1.282322,1.381664,0.000000
2,0.0,1.344385,-0.876626,0.935913,1.992050,0.882454,1.786066,-1.646778,-0.942383,0.000000
3,1.0,1.105009,0.321356,1.522401,0.882808,-1.205349,0.681466,-1.070464,-0.921871,0.000000
4,0.0,1.595839,-0.607811,0.007075,1.818450,-0.111906,0.847550,-0.566437,1.581239,2.173076
5,1.0,0.409391,-1.884684,-1.027292,1.672452,-1.604598,1.338015,0.055427,0.013466,2.173076
6,1.0,0.933895,0.629130,0.527535,0.238033,-0.966569,0.547811,-0.059439,-1.706866,2.173076
7,1.0,1.405144,0.536603,0.689554,1.179567,-0.110061,3.202405,-1.526960,-1.576033,0.000000
8,1.0,1.176566,0.104161,1.397002,0.479721,0.265513,1.135563,1.534831,-0.253291,0.000000
9,1.0,0.945974,1.111244,1.218337,0.907639,0.821537,1.153243,-0.365420,-1.566055,0.000000

In [5]:
model = xgb.Booster()

model.load_model("/home/ubuntu/joel/workspace/example_project/prod_00/admin@nvidia.com/transfer/cc85e6f1-abb4-461f-80a5-967c9f35e199/workspace/app_server/xgboost_model.json")

X = df.drop(df.columns[0], axis=1)
y = df[df.columns[0]]

In [9]:
X

,1,2,3,4,5,6,7,8,9
0,0.907542,0.329147,0.359412,1.497970,-0.313010,1.095531,-0.557525,-1.588230,2.173076
1,0.798835,1.470639,-1.635975,0.453773,0.425629,1.104875,1.282322,1.381664,0.000000
2,1.344385,-0.876626,0.935913,1.992050,0.882454,1.786066,-1.646778,-0.942383,0.000000
3,1.105009,0.321356,1.522401,0.882808,-1.205349,0.681466,-1.070464,-0.921871,0.000000
4,1.595839,-0.607811,0.007075,1.818450,-0.111906,0.847550,-0.566437,1.581239,2.173076
5,0.409391,-1.884684,-1.027292,1.672452,-1.604598,1.338015,0.055427,0.013466,2.173076
6,0.933895,0.629130,0.527535,0.238033,-0.966569,0.547811,-0.059439,-1.706866,2.173076
7,1.405144,0.536603,0.689554,1.179567,-0.110061,3.202405,-1.526960,-1.576033,0.000000
8,1.176566,0.104161,1.397002,0.479721,0.265513,1.135563,1.534831,-0.253291,0.000000
9,0.945974,1.111244,1.218337,0.907639,0.821537,1.153243,-0.365420,-1.566055,0.000000

In [13]:
dtest = xgb.DMatrix(data=X, feature_names=[
    '1', '2', '3', '4', '5',
    '6', '7', '8', '9'
]
)
predictions = model.predict(dtest)
predictions

array([0.880797, 0.880797, 0.880797, 0.880797, 0.880797, 0.880797,
       0.880797, 0.880797, 0.880797, 0.880797], dtype=float32)

In [11]:
dtest

In [7]:
print(roc_auc_score(y, predictions))

0.5